<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heeexy.example.dao.MessageDao">
    
    <select id="getMessage" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
        m.message_id                                mid,
        m.chat_id                                   cid,
        m.user_id                                   uid,
        m.message_content                           content,
        date_format(m.message_time, '%Y.%m.%d %T')  mtime,
        m.status                                    status
        FROM lc_message m
        WHERE 1 = 1
        <if test="status != null and status != ''">
            AND m.status = #{status}
        </if>
        <if test="cid != null and cid != ''">
            AND m.chat_id = #{cid}
        </if>
        ORDER BY m.message_id
        LIMIT #{offSet}, #{pageRow}
    </select>

    <select id="countMessage" resultType="int">
        SELECT COUNT(0)
        FROM lc_message m
        WHERE 1 = 1
        <if test="status != null and status != ''">
            AND m.status = #{status}
        </if>
        <if test="cid != null and cid != ''">
            AND m.chat_id = #{cid}
        </if>
    </select>

    <select id="getChatByUserId" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
        m.chat_id                                   cid,
        m.chat_id                                   cid,
        m.user_id                                   uid,
        m.message_content                           content,
        date_format(m.message_time, '%Y.%m.%d %T')  mtime,
        m.status                                    status,
        c.user_id                                   uid,
        c.another_id                                tuid
        FROM lc_message m, lc_chat c
        WHERE m.chat_id = c.chat_id AND c.user_id = #{uid} OR c.another_id = #{uid}
        <if test="status != null and status != ''">
            AND m.status = #{status}
        </if>
        GROUP BY m.chat_id
        ORDER BY m.message_time DESC
    </select>

    <select id="getMessageByUserId" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
        m.message_id                                mid,
        m.chat_id                                   cid,
        m.user_id                                   uid,
        m.message_content                           content,
        date_format(m.message_time, '%Y.%m.%d %T')  mtime,
        m.status                                    status,
        c.user_id                                   uid,
        c.another_id                                tuid
        FROM lc_message m, lc_chat c
        WHERE m.chat_id = c.chat_id AND c.user_id = #{uid} OR c.another_id = #{uid}
        <if test="status != null and status != ''">
            AND m.status = #{status}
        </if>
        ORDER BY m.message_time DESC
    </select>

    <select id="countChatByUserId" resultType="com.alibaba.fastjson.JSONObject">
        SELECT count(0)
        FROM lc_message m, lc_chat c
        WHERE m.chat_id = c.chat_id AND c.user_id = #{uid} OR c.another_id = #{uid}
        <if test="status != null and status != ''">
            AND m.status = #{status}
        </if>
        GROUP BY m.chat_id
    </select>

    <select id="countMessageByUserId" resultType="com.alibaba.fastjson.JSONObject">
        SELECT count(0)
        FROM lc_message m, lc_chat c
        WHERE m.chat_id = c.chat_id AND c.user_id = #{uid} OR c.another_id = #{uid}
        <if test="status != null and status != ''">
            AND m.status = #{status}
        </if>
    </select>

    <select id="getPictureByMessageId" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
        p.picture_id    pid,
        p.message_id    mid,
        p.picture_path  path
        FROM lc_message_pic p
        WHERE p.message_id = #{mid}
        ORDER BY p.picture_id
    </select>

    <select id="getMessageByMessageId" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
        m.message_id                                mid,
        m.chat_id                                   cid,
        m.user_id                                   uid,
        m.message_content                           content,
        date_format(m.message_time, '%Y.%m.%d %T')  mtime,
        m.status                                    status
        FROM lc_message m, lc_chat c
        WHERE m.message_id = #{mid}
    </select>

    <select id="getChat" resultType="int">
        SELECT c.chat_id  cid
        FROM lc_chat c
        WHERE (c.user_id = #{fuid} AND c.another_id = #{tuid}) OR (c.user_id = #{tuid} AND c.another_id = #{fuid})
    </select>

    <select id="countChat" resultType="int">
        SELECT COUNT(0)
        FROM lc_chat c
        WHERE (c.user_id = #{fuid} AND c.another_id = #{tuid}) OR (c.user_id = #{tuid} AND c.another_id = #{fuid})
    </select>

    <insert id="addChat">
        INSERT INTO lc_chat
        (user_id, another_id)
        VALUES
        (#{fuid}, #{tuid})
    </insert>

    <insert id="addMessage">
        INSERT INTO lc_message
        (chat_id, message_content)
        VALUES
        (#{cid}, #{content})
    </insert>

    <insert id="addPicture">
        INSERT INTO lc_message_pic
        (message_id, picture_path)
        VALUES
        (#{mid}, #{path})
    </insert>
    
    <update id="updateMessage">
        UPDATE lc_message
        SET status = #{status}
        WHERE message_id = #{mid}
    </update>

</mapper>