<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heeexy.example.dao.ModuleDao">
<!--计数-->
    <select id="countModule" resultType="Integer">
        select count(0)
        from cqy_module u
    </select>

    <resultMap id="moduleMap" type="com.heeexy.example.util.model.One2Many">
        <id column="moduleId" property="moduleId"/>
        <result column="moduleName" property="moduleName"/>
        <result column="createTime" property="createTime"/>
        <result column="display" property="display"/>
        <result column="updateTime" property="updateTime"/>
        <result column="moduleContent" property="moduleContent"/>
    </resultMap>
<!--查询全部-->
    <select id="listModule" resultMap="moduleMap">
        select
        module_ID moduleId,
        module_name moduleName,
        module_content moduleContent,
        DATE_FORMAT(create_time, '%Y.%m.%d %T') createTime,
        DATE_FORMAT(update_time, '%Y.%m.%d %T') updateTime
        from cqy_module
        where display = 1
    </select>
<!--增/改后查询全部-->
    <select id="getAllModule" resultType="com.alibaba.fastjson.JSONObject">
        select
        module_ID moduleId,
        module_name moduleName,
        module_content moduleContent,
        create_time createTime,
        update_time updateTime
        from cqy_module
        where display = 1
    </select>
    <!--新增-->
    <insert id="addModule" useGeneratedKeys="true" keyProperty="moduleId">
        INSERT into cqy_module(module_name,module_content,display)
        values (#{moduleName},#{moduleContent},1)
    </insert>
    <!--修改-->
    <update id="updateModuleName">
        update cqy_module
        set
        module_name = #{moduleName},
        module_content = #{moduleContent}
        where module_ID= #{moduleId} and display = 1
    </update>

    <!--删除-->
     <update id="removeModuleDisplay">
        update cqy_module
        set
        display = 0
        where module_ID= #{moduleId}
     </update>
    <!--查询模块名是否存在-->
    <select id="queryExistModuleName" resultType="int">
        select count(0)
        from cqy_module
        where module_name= #{moduleName}
    </select>
    <!--查询隐藏值-->
    <select id="queryExistModuleDisplay" resultType="int">
        select display
        from cqy_module
        where module_name= #{moduleName}
    </select>

</mapper>