<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heeexy.example.dao.ModuleDao">
<!--计数-->
    <select id="countModule" resultType="Integer">
         select count(0)
         from cqy_module u
         where display = 1
    </select>

    <resultMap id="moduleMap" type="com.heeexy.example.util.model.One2Many">
        <id column="moduleId" property="moduleId"/>
        <result column="moduleName" property="moduleName"/>
        <result column="createTime" property="createTime"/>
        <result column="display" property="display"/>
        <result column="updateTime" property="updateTime"/>
        <result column="moduleContent" property="moduleContent"/>
    </resultMap>
<!--查询全部-->
    <select id="listModule" resultMap="moduleMap">
        select
        module_ID moduleId,
        module_name moduleName,
        module_content moduleContent,
        DATE_FORMAT(create_time, '%Y.%m.%d %T') createTime,
        DATE_FORMAT(update_time, '%Y.%m.%d %T') updateTime
        from cqy_module
        <where>
            <if test="input != null and input != ''">
                module_name LIKE CONCAT(CONCAT('%',#{input}),'%')
                and
            </if>
            display = 1
        </where>
        LIMIT #{offSet}, #{pageRow}
    </select>
<!--增/改后查询全部-->
    <select id="getAllModule" resultType="com.alibaba.fastjson.JSONObject">
        select
        module_ID moduleId,
        module_name moduleName,
        module_content moduleContent,
        create_time createTime,
        update_time updateTime
        from cqy_module
        where display = 1
    </select>
    <!--新增-->
    <insert id="addModule" useGeneratedKeys="true" keyProperty="moduleId">
        INSERT into cqy_module(module_name,module_content,display)
        values (#{moduleName},#{moduleContent},1)
    </insert>

    <!--在Message中新增信息-->
    <insert id="addMessage" useGeneratedKeys="true" keyProperty="messageid">
        INSERT into lc_message(chat_id,user_id,message_content,status)
        values
        <foreach collection="clist" item="c" separator=",">
            (#{c.chatid},1,#{moduleContent},0)
        </foreach>
    </insert>

    <!--在chat中新增信息(群发)-->
    <insert id="addChat" useGeneratedKeys="true" keyProperty="chat_id">
        INSERT into lc_chat(user_id,another_id)
        values
        <foreach collection="ulist" item="u" separator=",">
                (1,#{u.userid})
        </foreach>
    </insert>

      <!--验证chat中userid=1,anotherid=传进来的数据的chatid-->
    <select id="getChatidByU" resultType="java.lang.String">
        select chat_id chatId
        from lc_chat
        where user_id= 1 and another_id = #{userId}
    </select>
    <!--插入chat表中信息(单条)-->
    <insert id="addChatByUA" useGeneratedKeys="true" keyProperty="chat_id">
        INSERT into lc_chat(user_id,another_id)
        values
            (1,#{userId})
    </insert>

    <!--发送给人封禁,警告消息-->
    <insert id="addMessageAlone" useGeneratedKeys="true" keyProperty="messageid">
        INSERT into lc_message(chat_id,user_id,message_content,status)
        values
            (#{chatId},1,#{messageContent},0)
    </insert>

    <!--查询警告,封禁,欢迎 模块消息-->
    <select id="getModuleByJ" resultType="java.lang.String">
        select module_content moduleContent
        from cqy_module
        where module_name = "警告模块"
    </select>
    <select id="getModuleByF" resultType="java.lang.String">
        select module_content moduleContent
        from cqy_module
        where module_name = "封禁模块"
    </select>
    <select id="getModuleByH" resultType="java.lang.String">
        select module_content moduleContent
        from cqy_module
        where module_name = "欢迎引导语模块"
    </select>


    <!--获取聊天表中不存在的用户id-->
    <select id="getAllUserId" resultType="com.alibaba.fastjson.JSONObject">
      select user_id userid
      from fly_user
      where guest = 0
      and user_id not in
     (select another_id anotherid
      from lc_chat
      where user_id=1)
    </select>
    <!--查询所有接收者id-->
    <select id="getAllLcChatAid" resultType="com.alibaba.fastjson.JSONObject">
      select another_id anotherid
      from lc_chat
      where user_id=1
    </select>

    <!--查询chat的userid为1的id-->
    <select id="getAllLcChatId" resultType="com.alibaba.fastjson.JSONObject">
      select chat_id chatid
      from lc_chat
      where user_id=1
    </select>

    <!--修改-->
    <update id="updateModuleName">
        update cqy_module
        set
        module_name = #{moduleName},
        module_content = #{moduleContent}
        where module_ID= #{moduleId} and display = 1
    </update>

    <!--删除模块的显示值（假）-->
     <update id="removeModuleDisplay">
        update cqy_module
        set
        display = 0
        where module_ID= #{moduleId}
     </update>
    <!--查询模块名是否存在-->
    <select id="queryExistModuleName" resultType="int">
        select count(0)
        from cqy_module
        where module_name= #{moduleName} and display = 1
    </select>
    <!--查询隐藏值-->
    <select id="queryExistModuleDisplay" resultType="int">
        select display
        from cqy_module
        where module_name= #{moduleName}
    </select>

</mapper>