<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heeexy.example.dao.PostCategorieDao">
    <!--计数-->
    <select id="countPostCategorie" resultType="Integer">
        select count(0)
        from cqy_post_categories
         where display = 1
    </select>

    <resultMap id="PostCategorieMap" type="com.heeexy.example.util.model.One2Many">
        <id column="categoriesId" property="categoriesId"/>
        <result column="categoriesName" property="categoriesName"/>
        <result column="categoriesImg" property="categoriesImg"/>
        <result column="display" property="display"/>
        <result column="createTime" property="createTime"/>
        <result column="updateTime" property="updateTime"/>
    </resultMap>
    <!--查询全部-->
    <select id="listPostCategorie" resultMap="PostCategorieMap">
        select
        categories_id categoriesId,
        categories_name categoriesName,
        categories_img categoriesImg,
        display display,
        DATE_FORMAT(create_time, '%Y.%m.%d %T') createTime,
        DATE_FORMAT(update_time, '%Y.%m.%d %T') updateTime
        from cqy_post_categories
        LIMIT #{offSet}, #{pageRow}
    </select>
    <!--增/改后查询全部-->
    <select id="getAllPostCategorie" resultType="com.alibaba.fastjson.JSONObject">
        select
        categories_id categoriesId,
        categories_name categoriesName,
        categories_img categoriesImg,
        display display,
        create_time createTime,
        update_time updateTime
        from cqy_post_categories
    </select>


    <!--新增-->
    <insert id="addPostCategorie" useGeneratedKeys="true" keyProperty="categoriesId">
        INSERT into cqy_post_categories(categories_name,categories_img,display)
        values (#{categoriesName},#{categoriesImg},1)
    </insert>
    <!--修改-->
    <update id="updatePostCategorie">
        update cqy_post_categories
        set
        categories_name = #{categoriesName},
        categories_img = #{categoriesImg}
        where categories_id= #{categoriesId}
    </update>
    <!--删除-->
    <update id="updatePostCategorieDisplay">
        update cqy_post_categories
        set
         display = #{display}
        where categories_id= #{categoriesId}
     </update>
    <!--查询校模块名是否已存在-->
    <select id="queryExistPostCategorieName" resultType="int">
        select count(0)
        from cqy_post_categories
        where categories_name= #{categoriesName}
    </select>
    <!--查询隐藏值-->
    <select id="queryExistCategorieDisplay" resultType="int">
        select display
        from cqy_post_categories
        where categories_name= #{categoriesName}
    </select>
    <!--查询校模块名是否已存在（不包含自己）-->
    <select id="queryExistPostCategorieNameTwo" resultType="int">
        select count(0)
        from cqy_post_categories
        where categories_name= #{categoriesName} and categories_id != #{categoriesId}
    </select>

    <!--前台-->
    <!--查看所有模块，不包含隐藏的-->
    <select id="RgetAllPostCategorie" resultType="com.alibaba.fastjson.JSONObject">
        select
        categories_id categoriesId,
        categories_name categoriesName,
        categories_img categoriesImg
        from cqy_post_categories
        where display=1
        order by  update_time
    </select>

</mapper>