<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heeexy.example.dao.WxBrowserDao">

    <!--添加某个浏览记录-->
    <insert id="addBrowsePost" parameterType="com.alibaba.fastjson.JSONObject">

        insert into  fly_browse (onuser_id, post_id) values(#{onUserId},#{postId});
    </insert>
    <!--查找该用户是否有该帖子的浏览记录-->
    <select id="getBrowsePostByPostId" parameterType="com.alibaba.fastjson.JSONObject" resultType="com.alibaba.fastjson.JSONObject">
        select post_id postId from fly_browse where onuser_id =#{onUserId} and post_id = #{postId};
    </select>
    <!--修改该用户的浏览帖子记录的时间-->
    <!--<update id="updateBrowse" parameterType="com.alibaba.fastjson.JSONObject">
        update fly_browse set update_time =now() where onuser_id =#{onUserId} and post_id = #{[postId}
    </update>-->
    <!--后台显示浏览记录表-->
    <select id="getBrowseList"  parameterType="com.alibaba.fastjson.JSONObject" resultType="com.alibaba.fastjson.JSONObject">
       select  DATE_FORMAT(browse.create_time,'%Y.%m.%d %T') createTime,browse.browse_id browseId,users.user_name onUserName,
       browse.post_id postId,p.post_content postContent
        from fly_browse  browse,fly_user users,tyn_post p
        where  users.user_id =browse.onuser_id and p.id =browse.post_id order by browse.create_time desc
    </select>
    <!--后台计算浏览记录数-->
    <select id="countBrowse" parameterType="com.alibaba.fastjson.JSONObject" resultType="java.lang.Integer">
        select count(0) from fly_browse;
    </select>
    <!--前台显示当前用户浏览记录-->
    <select id="getBrowseByUser" parameterType="com.alibaba.fastjson.JSONObject" resultType="com.alibaba.fastjson.JSONObject">
        select DATE_FORMAT(max(browse.create_time), '%Y.%m.%d %T')  createTime,browse.browse_id browseId,users.user_name onUserName,browse.post_id postId,p.post_content postContent
        from fly_browse  browse,fly_user users,tyn_post p
        where  users.user_id =browse.onuser_id and p.id =browse.post_id and browse.onuser_id =#{onUserId} group by post_id
    </select>
</mapper>