<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heeexy.example.dao.WxFansDao">
    <!--添加粉丝关注用户-->
    <insert id="addByFans" parameterType="com.alibaba.fastjson.JSONObject">
        insert  into  fly_fans (onuser_id, user_id, state) values (#{onUserId},#{userId},1);
    </insert>
    <!--计算粉丝关注用户数-->
    <select id="countByUserId" parameterType="com.alibaba.fastjson.JSONObject" resultType="java.lang.Integer">
          select  count(onuser_id) from fly_fans where state =1 and onuser_id =#{userId};
    </select>
    <!--查找关注用户列表(小程序显示列表)-->
    <select id="getListByUserId" parameterType="com.alibaba.fastjson.JSONObject" resultType="com.alibaba.fastjson.JSONObject">
         select
t1.fans_id fansId,t1.onuser_id onUserId,t1.onusername onUserName ,t2.user_id userId,t2.username userName,t1.state state,DATE_FORMAT(t1.createTime1, '%Y.%m.%d %T') createTime,DATE_FORMAT(t1.updateTime1, '%Y.%m.%d %T') updateTime
 from
(select
          fans.fans_id,fans.onuser_id,users.user_name onusername ,fans.state state,DATE_FORMAT(fans.create_time, '%Y.%m.%d %T') createTime1,DATE_FORMAT(fans.update_time, '%Y.%m.%d %T') updateTime1
       	 from  fly_fans fans,fly_user users

		where   users.user_id =fans.onuser_id ) t1,
(select
          fans.fans_id,fans.user_id,users.user_name username
       	 from  fly_fans fans,fly_user users

		where   users.user_id =fans.user_id ) t2
where t1.fans_id =t2.fans_id and t1.onuser_id =#{onUserId} and t1.state = 1

;
    </select>

    <!--查找用户是否有关注信息-->
    <select id="getUserFans" parameterType="com.alibaba.fastjson.JSONObject" resultType="com.alibaba.fastjson.JSONObject">
        select  onuser_id onUserId,user_id userId,state state from fly_fans where onuser_id =#{onUserId} and user_id =#{userId};
    </select>
    <!--修改关注用户状态取消-->
    <update id="updateFansByUserId" parameterType="com.alibaba.fastjson.JSONObject">
    update fly_fans set state = 0  where fans_id =#{fansId}
    </update>
    <!--修改关注用户状态取消-->
    <update id="updateFansStateByUserId" parameterType="com.alibaba.fastjson.JSONObject">
    update fly_fans set state = 1  where fans_id =#{fansId}
    </update>
    <!--查找所有用户粉丝关注表（后台显示）-->
    <select id="getListFans" parameterType="com.alibaba.fastjson.JSONObject" resultType="com.alibaba.fastjson.JSONObject">
       select
t1.fans_id fansId,t1.onuser_id onUserId,t1.onusername onUserName ,t2.user_id userId,t2.username userName,t1.state state,DATE_FORMAT(t1.createTime1, '%Y.%m.%d %T') createTime,DATE_FORMAT(t1.updateTime1, '%Y.%m.%d %T') updateTime
 from
(select
          fans.fans_id ,fans.onuser_id,users.user_name onusername ,fans.state state,DATE_FORMAT(fans.create_time, '%Y.%m.%d %T') createTime1,DATE_FORMAT(fans.update_time, '%Y.%m.%d %T') updateTime1
       	 from  fly_fans fans,fly_user users

		where   users.user_id =fans.onuser_id ) t1,
(select
          fans.fans_id,fans.user_id,users.user_name username
       	 from  fly_fans fans,fly_user users

		where   users.user_id =fans.user_id ) t2
where t1.fans_id =t2.fans_id
        LIMIT #{offSet}, #{pageRow};
    </select>
    <!--计算用户数(后台)-->
    <select id="countUserFans" parameterType="com.alibaba.fastjson.JSONObject" resultType="java.lang.Integer">
        select count(0) from fly_fans
    </select>
</mapper>