<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heeexy.example.dao.WxLikeDao">
    <!--添加用户点赞帖子-->
    <insert id="addLike" parameterType="com.alibaba.fastjson.JSONObject">
        insert  into  fly_like (onuser_id, post_id, user_id, like_state) values (#{onUserId},#{postId},#{userId},1);
    </insert>

    <!--网页查找单个用户点赞帖子列表-->
    <select id="getLikeByUserId" parameterType="com.alibaba.fastjson.JSONObject" resultType="com.alibaba.fastjson.JSONObject">
       select
          like1.like_id likeId, like1.onuser_id onUserId,u.user_name onUserName,like1.post_id postId,
          p.post_content postContent,uu.user_name userName,
          like1.like_state likeState,DATE_FORMAT(like1.create_time, '%Y.%m.%d %T')  createTime,
          DATE_FORMAT(like1.update_time, '%Y.%m.%d %T')  updateTime
      from fly_like like1,fly_user u, fly_user uu ,tyn_post p
      where like1.onuser_id =u.user_id and like1.user_id = uu.user_id and p.id =like1.post_id
        and like1.onuser_id =#{onUserId} and like1.like_state =1 ;
    </select>
    <!--后台每个用户点赞帖子记录-->
    <select id="getLikeList" parameterType="com.alibaba.fastjson.JSONObject" resultType="com.alibaba.fastjson.JSONObject">

       select
          like1.like_id likeId, like1.onuser_id onUserId,u.user_name onUserName,like1.post_id postId,
          p.post_content postContent,uu.user_name userName,
          like1.like_state likeState,DATE_FORMAT(like1.create_time, '%Y.%m.%d %T')  createTime,
          DATE_FORMAT(like1.update_time, '%Y.%m.%d %T')  updateTime
      from fly_like like1,fly_user u, fly_user uu ,tyn_post p
      <where>
            like1.onuser_id =u.user_id and like1.user_id = uu.user_id and p.id =like1.post_id and like1.like_state =1
            <if test="userName != null and userName != ''">
                and  u.user_name LIKE CONCAT(CONCAT('%',#{userName}),'%')
            </if>
      </where>
        LIMIT #{offSet}, #{pageRow};
    </select>
    <!--后台每个用户点赞帖子列表计算-->
    <select id="countPostLike" parameterType="com.alibaba.fastjson.JSONObject" resultType="java.lang.Integer">
        select count(0) from fly_like
    </select>
    <!--前台某个用户点赞帖子列表计算-->
    <select id="countPostLikeByUserId" parameterType="com.alibaba.fastjson.JSONObject" resultType="com.alibaba.fastjson.JSONObject">
        select count(0) likeNumber,onuser_id onUserId from fly_like
        where onuser_id = #{onUserId} and like_state = 1
    </select>

    <!--查找用户是否已点赞该帖子信息-->
    <select id="getLikeUserPost" parameterType="com.alibaba.fastjson.JSONObject" resultType="com.alibaba.fastjson.JSONObject">
        select like_id likeId, onuser_id onUserId,like_state likeState from fly_like
        where onuser_id =#{onUserId} and post_id =#{postId};
    </select>
    <!--取消帖子用户点赞状态-->
    <update id="updateLikeByUserId" parameterType="com.alibaba.fastjson.JSONObject">
            update fly_like set like_state = 0 where like_id = #{likeId};
    </update>
    <!--添加帖子用户点赞状态-->
    <update id="addLikeByUserId" parameterType="com.alibaba.fastjson.JSONObject">
            update fly_like set like_state = 1 where like_id = #{likeId} and onuser_id =#{onUserId};
    </update>
    <!--查找用户未关注的-->
    <select id="getListMoreLikesById" parameterType="com.alibaba.fastjson.JSONObject" resultType="com.alibaba.fastjson.JSONObject">
        select  likes.like_id likeId,likes.user_id userId,u.user_name userName,users.user_name onUserName
        from  fly_like likes,fly_user u,fly_user users
        where u.user_id=likes.user_id and users.user_id=likes.onuser_id and  likes.like_state =0
    </select>
    <!--批量关注-->
    <update id="addMoreLikes" parameterType="java.util.Map">
        update fly_like set like_state =1 where like_id =#{likeId}
     </update>
    <!--我的点赞-->
    <select id="myLike" resultType="com.alibaba.fastjson.JSONObject" parameterType="com.alibaba.fastjson.JSONObject">

    </select>
</mapper>