<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heeexy.example.dao.WxMyPostDao">

    <!--后台每个用户自己的帖子记录-->
    <select id="getMyPostList" parameterType="com.alibaba.fastjson.JSONObject" resultType="com.alibaba.fastjson.JSONObject">

        select  post.id postId,post.post_content postContent,users.user_name onUserName,
                post.delete_state myPostState, DATE_FORMAT(post.post_time, '%Y.%m.%d %T')  createTime
        from  tyn_post post,fly_user users
        <where>
            post.post_owner = users.user_id
            <if test="userName != null and userName != ''">
               and  users.user_name LIKE CONCAT(CONCAT('%',#{userName}),'%')
            </if>
        </where>
        LIMIT #{offSet},#{pageRow};
    </select>
<!--后台计数-->
    <select id="countMyPost" parameterType="com.alibaba.fastjson.JSONObject" resultType="java.lang.Integer">
        select count(0) from tyn_post;
    </select>
    <!--修改自己帖子隐藏状态-->
    <update id="updateMyPostById" parameterType="com.alibaba.fastjson.JSONObject">
        <if test="myPostState == 0">
            update  tyn_post  set delete_state = 1 where id = #{postId} ;
        </if>
        <if test="myPostState == 1">
            update  tyn_post  set delete_state = 0 where id = #{postId} ;
        </if>

    </update>
    <!--前台用户自己的帖子记录-->
    <select id="getMyPostListById" parameterType="com.alibaba.fastjson.JSONObject" resultType="com.alibaba.fastjson.JSONObject">

        select  post.id postId,post.post_content postContent,users.user_name onUserName,
        post.delete_state myPostState,
        DATE_FORMAT(post.post_time, '%Y.%m.%d %T')  createTime

        from  tyn_post post,fly_user users
        where  post.post_owner =users.user_id
        and post.delete_state = 0 and post_owner = #{onUserId}
    </select>
    <!--前台本人发帖数量-->
    <select id="countMyPostByUserId" parameterType="com.alibaba.fastjson.JSONObject" resultType="com.alibaba.fastjson.JSONObject">
        select count(0) postNumber,tyn_post.post_owner userId from tyn_post
        where post_owner =#{onUserId} and delete_state =0
    </select>
    <!--批量删除帖子-->
    <update id="updateByPostIdMany" parameterType="java.util.Map">
        <if test="myPostState ==0 ">
                update  tyn_post  set delete_state = 1 where id = #{postId}
        </if>
        <if test="myPostState ==1 ">
                update  tyn_post  set delete_state = 0 where id = #{postId}
        </if>
    </update>
</mapper>