<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heeexy.example.dao.WxMyCommentDao">

    <!--后台每个用户自己对帖子的评论记录-->
    <select id="getMyCommentList" parameterType="com.alibaba.fastjson.JSONObject" resultType="com.alibaba.fastjson.JSONObject">

        select comment.comment_id commentId,comment.post_id postId,post.post_content postContent ,comment.from_user_id onUserId,
        u.user_name onUserName,comment.to_comment_id toCommentId,comment.comment_status commentState,
        comment.comment_content commentContent,
        DATE_FORMAT(comment.comment_time, '%Y.%m.%d %T')  createTime
        from lc_comment comment,tyn_post post,fly_user u
        where comment.post_id = post.id and u.user_id =comment.from_user_id

    </select>
    <!--后台计数-->
    <select id="countMyComment" parameterType="com.alibaba.fastjson.JSONObject" resultType="java.lang.Integer">
        select count(0) from lc_comment;
    </select>

    <!--前台用户自己对帖子的评论记录-->
    <select id="getMyCommentListById" parameterType="com.alibaba.fastjson.JSONObject" resultType="com.alibaba.fastjson.JSONObject">

         select comment.comment_id commentId,comment.post_id postId,post.post_content postContent ,comment.from_user_id onUserId,
        comment.to_comment_id toCommentId,
        comment.comment_status commentState,comment.comment_content commentContent,
        DATE_FORMAT(comment.comment_time, '%Y.%m.%d %T')  createTime
        from lc_comment comment,tyn_post post
        where comment.post_id = post.id and comment.comment_status != -1 and comment.from_user_id = #{onUserId}
    </select>
</mapper>