<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heeexy.example.dao.WxUserDao">

    <!--查找最大id数-->
    <select id="getMaxNumber" parameterType="com.alibaba.fastjson.JSONObject" resultType="com.alibaba.fastjson.JSONObject">
      /* select
         user_id  userId,user_name userName, user_photo userPhoto,
      user_sex  userSex,user_fans userFans,user_fans_f userFansf,
      guest guest, user_state userState,DATE_FORMAT(first_time, '%Y.%m.%d %T') firstTime,
      DATE_FORMAT(update_time, '%Y.%m.%d %T')  updateTime
        from  fly_user where user_id = (select max(user_id) from fly_user)*/
    </select>
    <!--增加普通用户-->
    <insert id="addByUser" parameterType="com.alibaba.fastjson.JSONObject">
    insert  into  fly_user (user_uuid userUuid,user_name, user_photo, user_sex, user_fans, user_fans_f, guest, user_state)
    values (#{userUuid},#{userName},#{userPhoto},#{userSex},0,0,0,0);
    </insert>
    <!--增加游客用户-->
    <insert id="addGuestUser" parameterType="com.alibaba.fastjson.JSONObject">
    insert  into  fly_user (user_uuid userUuid,user_name, user_photo, user_sex, user_fans, user_fans_f, guest, user_state)
    values (0,'游客','http://img.duoziwang.com/2018/17/05282053226540.jpg','男',0,0,1,0);
    </insert>
    <!--修改真实粉丝数-->
    <update id="updateFansById" parameterType="java.util.Map" >
        update fly_user set user_fans = #{userFans} where  user_id = #{userId};
    </update>
    <!--修改虚假粉丝数-->
    <update id="updateFansfById" parameterType="com.alibaba.fastjson.JSONObject" >
        update fly_user set user_fans_f = #{userFansf} where  user_id = #{userId};
    </update>
    <!--修改用户封禁状态-->
    <update id="updateStateByUserId" parameterType="com.alibaba.fastjson.JSONObject">
      <if test="userState ==0">
          update fly_user set  user_state =1 where  user_id = #{userId};
      </if>
        <if test="userState ==1">
            update fly_user set  user_state =0 where  user_id = #{userId};
        </if>
    </update>
    <!--前台查找总粉丝数-->
    <select id="countFansByUserId" parameterType="com.alibaba.fastjson.JSONObject" resultType="com.alibaba.fastjson.JSONObject">
        select fly_user.user_fans+fly_user.user_fans_f fansToal,fly_user.user_name username from fly_user
         where user_id =#{onUserId};

    </select>
    <!--查找真实粉丝数-->
    <select id="getFansByUserId" parameterType="com.alibaba.fastjson.JSONObject" resultType="java.lang.Integer">
        select user_fans from fly_user where user_id =#{userId};
    </select>

    <!--查找所有用户-->
    <select id="getListUser" parameterType="com.alibaba.fastjson.JSONObject" resultType="com.alibaba.fastjson.JSONObject">
      select
          t1.user_id  userId,t1.user_uuid userUuid,t1.user_name userName,t1.user_photo userPhoto,
          t1.user_sex  userSex,t1.user_fans userFans,t1.user_fans_f userFansf,t1.user_fans+t1.user_fans_f  fansToal,
          t1.guest guest, t1.user_state userState,DATE_FORMAT(first_time, '%Y.%m.%d %T') firstTime,
          DATE_FORMAT(update_time, '%Y.%m.%d %T') updateTime
      from  fly_user t1
        <where>
            <if test="userName != null and userName != ''">
              user_name LIKE CONCAT(CONCAT('%',#{userName}),'%')
                and
            </if>
             t1.user_id > 1
        </where>
        LIMIT #{offSet},#{pageRow};
    </select>
    <!--计算用户数-->
    <select id="countUser" parameterType="com.alibaba.fastjson.JSONObject" resultType="java.lang.Integer">
        select count(0) from fly_user
        <where>
        <if test="userName != null and userName !=''">
            user_name LIKE CONCAT(CONCAT('%',#{userName}),'%')
            and
        </if>
            user_id !=1
        </where>
    </select>
    <!--查找某个用户-->
    <select id="getUserByUsername" resultType="com.alibaba.fastjson.JSONObject" parameterType="com.alibaba.fastjson.JSONObject">
        select
            t1.user_id  userId,t1.user_uuid userUuid,t1.user_name userName,t1.user_photo userPhoto,
            t1.user_sex  userSex,t1.user_fans userFans,t1.user_fans_f userFansf,
             t1.guest guest,t1.user_state userState,DATE_FORMAT(t1.first_time, '%Y.%m.%d %T') firstTime,DATE_FORMAT(t1.update_time, '%Y.%m.%d %T') updateTime
          from  fly_user t1 where t1.user_id =#{onUserId};
    </select>
    <!--查看该用户的封禁状态-->
    <select id="getStateByUserId" parameterType="com.alibaba.fastjson.JSONObject" resultType="com.alibaba.fastjson.JSONObject">

    </select>
    <!--我的界面-->
    <select id="mySelf" parameterType="com.alibaba.fastjson.JSONObject" resultType="com.alibaba.fastjson.JSONObject">
        select u.user_id onUserId,u.user_name myname,u.user_photo myavatar,p.postNumber myrelease,
        f.fansNumber myattention,u.user_fans_f+u.user_fans myfans,l.likeNumber mygood,pc.collectNumber mycollention
        from fly_user u ,
        (select count(0) postNumber,tyn_post.post_owner userId from tyn_post
        where post_owner =#{uid} and delete_state =0) p,
        (select  count(onuser_id) fansNumber
        from fly_fans where state =1 and onuser_id =#{uid}) f,
        (select count(0) likeNumber,onuser_id onUserId from fly_like
        where onuser_id = #{uid} and like_state = 1) l,
        (select count(0) collectNumber from cqy_post_collect c
         where c.user_id =#{uid} and c.display =0) pc
        where u.user_id =#{uid}
    </select>
    <!--我的粉丝-->
    <select id="mySelfFans" parameterType="com.alibaba.fastjson.JSONObject" resultType="com.alibaba.fastjson.JSONObject">
        select u.user_name mySelfFansName ,u.user_photo mySelfFansImg,u.user_id mySelfFansId
        from fly_user u,fly_fans f
        where   u.user_id =f.onuser_id  and f.state =1 and f.user_id = #{keyword}
    </select>
</mapper>